@media (min-width: 1250px){
    .brand-logo img {
        margin-left: 11rem;
    }
    .are-you-straving-content {
        margin-left: 10.5rem;
    }
    .straving-logo {
        left: 50rem;
    }
    .daily-discount-content {
        left: 14rem;
    }
    .your-order img {
        left: 13.7rem;
    }
    .install {
        left: 44.5rem;
    }
    .best-deal-content {
        margin: 0 23.5rem;
    }
}
@media (min-width: 1300px){
    .brand-logo img {
        margin-left: 12rem;
    }
    .are-you-straving-content {
        margin-left: 12.2rem;
    }
    .straving-logo {
        left: 51rem;
    }
    .daily-discount-content {
        left: 15.5rem;
    }
    .your-order img {
        left: 15.3rem;
    }
    .install {
        left: 46rem;
    }
    .best-deal-content {
        margin: 0 25rem;
    }
}
@media (min-width: 1350px){
    .brand-logo img {
        margin-left: 13.5rem;
    }
    .are-you-straving-content {
        margin-left: 13.6rem;
    }
    .straving-logo {
        left: 53rem;
    }
    .daily-discount-content {
        left: 17rem;
    }
    .your-order img {
        left: 16.8rem;
    }
    .install {
        left: 47.3rem;
    }
    .best-deal-content {
        margin: 0 25.5rem;
    }
}
@media (min-width: 1400px){
    .brand-logo img {
        margin-left: 15rem;
    }
    .are-you-straving-content {
        margin-left: 15rem;
    }
    .straving-logo {
        left: 54rem;
    }
    .daily-discount-content {
        left: 19rem;
    }
    .your-order img {
        left: 18.8rem;
    }
    .install {
        left: 49.1rem;
    }
    .best-deal-content {
        margin: 0 27rem;
    }
}
@media (min-width: 1450px){
    .brand-logo img {
        margin-left: 16.8rem;
    }
    .are-you-straving-content {
        margin-left: 16.6rem;
    }
    .straving-logo {
        left: 56rem;
    }
    .daily-discount-content {
        left: 19.5rem;
    }
    .your-order img {
        left: 19.4rem;
    }
    .install {
        left: 49.8rem;
    }
    .best-deal-content {
        margin: 0 28.5rem;
    }
}
@media (min-width: 1500px){
    .brand-logo img {
        margin-left: 18.3rem;
    }
    .are-you-straving-content {
        margin-left: 18.2rem;
    }
    .straving-logo {
        left: 57.5rem;
    }
    .daily-discount-content {
        left: 21rem;
    }
    .your-order img {
        left: 20.9rem;
    }
    .install {
        left: 51.3rem;
    }
    .best-deal-content {
        margin: 0 30rem;
    }
}
@media (min-width: 1550px){
    .brand-logo img {
        margin-left: 19.9rem;
    }
    .are-you-straving-content {
        margin-left: 19.8rem;
    }
    .straving-logo {
        left: 59rem;
    }
    .daily-discount-content {
        left: 23rem;
    }
    .your-order img {
        left: 22.7rem;
    }
    .install {
        left: 52.9rem;
    }
    .best-deal-content {
        margin: 0 31.5rem;
    }
}
/* ========================================================================================= */
 @media (max-width: 1200px){
    nav {
        transform: scale(0.8);
    }
    .are-you-straving {
        min-height: 19.45rem;
    }
    .are-you-straving-content {
        transform: scale(0.8);
        margin-left: 11.5rem;
        padding-top: 4rem;
    }
    .straving-logo {
        transform: scale(0.8);
        left: 44rem;
        top: 5rem;
    }
    #food-deal {
        min-height: 18rem;
    }
    .food-deal-grid {
        transform: scale(0.82);
        padding-top: 1rem;
    }
    #how-does-it-work {
        min-height: 20.5rem;
    }
    #how-does-it-work h1 {
        transform: scale(0.8);
        padding: 3rem 0 1rem 0;
    }
    .how-does-it-work-grid {
        transform: scale(0.8);
    }
    #popular-items {
        min-height: 22rem;
    }
    #popular-items h1 {
        transform: scale(0.8);
        padding-bottom: 1.5rem;
    }
    .popular-items-flex {
        transform: scale(0.88);
        margin-left: -11.7rem;
    }
    #featured-resturants {
        min-height: 45.5rem;
    }
    #featured-resturants h1 {
        transform: scale(0.8);
        padding-bottom: 0.5rem;
    }
    .featured-resturants-grid {
        transform: scale(0.87);
    }
    #featured-resturants .view-all {
        transform: scale(0.88);
        margin-top: 0.5rem;
    }
    #search-by-food {
        min-height: 19rem;
    }
    #search-by-food .search-view-all {
        transform: scale(0.8);
        padding: 2rem 0 2.5rem 0;
    }
    .search-by-food-grid {
        transform: scale(0.8);
    }
    #install-the-app {
        min-height: 32.5rem;
    }
    .install-the-app-frame img {
        min-height: 29.8rem;
    }
    .daily-discount-content {
        transform: scale(0.8);
        margin-left: -1rem;
        margin-top: 3.5rem;
    }
    .your-order img {
        transform: scale(0.8);
        bottom: -10.3rem;
        left: 14.5rem;
    }
    .install {
        transform: scale(0.8);
        bottom: 3rem;
        left: 39.5rem;
    }
    #deal-crispy {
        padding-top: 2.5rem;
        min-height: 62rem;
    }
    .deal-crispy-card {
        transform: scale(0.8);
        margin-bottom: -1.5rem;
    }
    #best-deal {
        height: 15rem;
    }
    #best-deal img {
        min-height: 15rem
    }
    .best-deal-content {
        transform: scale(0.8);
        margin-left: 20rem;
        top: 1rem;
    }
    footer {
        min-height: 29rem;
    }
    .footer-content h4 {
        padding-top: 1.5rem;
    }
    .footer-content {
        transform: scale(0.8);
    }
    .company-information {
        padding-top: 2.5rem;
    }    
 }
 @media (max-width: 1150px){
    .brand-logo img {
        margin-left: 6.5rem;
    }
    .are-you-straving-content {
        margin-left: 9rem;
    }
    .straving-logo {
        left: 42.5rem;
    }
    .popular-items-flex {
        margin-left: -10.5rem;
    }
    .daily-discount-content {
        margin-left: -2rem;
    }
    .your-order img {
        left: 13.5rem;
    }
    .install {
        left: 38.5rem;
    }
 }
 @media (max-width: 1100px){
    .brand-logo img {
        margin-left: 5rem;
    }
    .are-you-straving-content {
        margin-left: 7.5rem;
    }
    .straving-logo {
        left: 41rem;
    }
    .popular-items-flex {
        margin-left: -10.5rem;
    }
    .daily-discount-content {
        margin-left: -3rem;
    }
    .your-order img {
        left: 12.5rem;
    }
    .install {
        left: 37.5rem;
    }
    .best-deal-content {
        margin-left: 18rem;
    }
 }
 @media (max-width: 1050px){
    .brand-logo img {
        margin-left: 3.5rem;
    }
    .are-you-straving-content {
        margin-left: 6rem;
    }
    .straving-logo {
        left: 39.5rem;
    }
    .popular-items-flex {
        margin-left: -10.5rem;
    }
    .daily-discount-content {
        margin-left: -4rem;
    }
    .your-order img {
        left: 11.5rem;
    }
    .install {
        left: 36.5rem;
    }
    .best-deal-content {
        margin-left: 17rem;
    }
 }
 @media (max-width: 1024px){
    nav {
        transform: scale(0.7);
    }
    .brand-logo img {
        margin-left: 4rem;
    }
    .are-you-straving {
        min-height: 16.20rem;
    }
    .are-you-straving-content {
        transform: scale(0.65);
        padding-top: 2rem;
        margin-left: 6.5rem;
    }
    .straving-logo {
        transform: scale(0.65);
        top: 3rem;
        left: 35.5rem;
    }
    #food-deal {
        min-height: 49rem;
    }
    .food-deal-grid {
        grid-template-columns: 1fr 1fr;
        max-width: 38rem;
        transform: scale(1.185);
        padding-top: 6rem;
        place-items: center;
        row-gap: 4rem;
    }
    #how-does-it-work {
        min-height: 42.5rem;
    }
    #how-does-it-work h1 {
        padding-bottom: 5rem;
    }
    .how-does-it-work-grid {
        grid-template-columns: 1fr 1fr;
        transform: scale(1.185);
        place-items: center;
        max-width: 38rem;
        row-gap: 4rem;
    }
    #popular-items {
        min-height: 76rem;
    }
    #popular-items h1 {
        padding-bottom: 10rem;
    }
    .popular-items-flex {
        transform: scale(1.185);
        margin-left: -14rem;
    }
    .popular-items-grid {
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
        column-gap: 3rem;
    }
    #featured-resturants {
        min-height: 108rem;
    }
    #featured-resturants h1 {
        padding-bottom: 12rem;
    }
    .featured-resturants-grid {
        grid-template-columns: 1fr 1fr;
        transform: scale(1.185);
        place-items: center;
        max-width: 38rem;
        row-gap: 2rem;
    }
    #featured-resturants .view-all {
        transform: scale(1.185);
        margin-top: 12rem;
    }
    #search-by-food {
        min-height: 46rem;
    }
    #search-by-food .search-view-all {
        transform: scale(1.185);
        max-width: 32rem;
        padding: 4rem 0 7rem 0;
    }
    .search-by-food-grid {
        grid-template-columns: 1fr 1fr 1fr;
        transform: scale(1.185);
        row-gap: 4rem;
        column-gap: 3.5rem;
        max-width: 32rem;
        place-items: center;
    }
    #install-the-app {
        min-height: 33rem;
    }
    .install-the-app-frame img {
        min-height: 30.3rem;
    }
    .daily-discount-content {
        transform: scale(0.8);
        margin-left: -5.2rem;
        margin-top: 3.5rem;
    }
    .your-order img {
        transform: scale(0.8);
        bottom: -10.2rem;
        left: 10.2rem;
    }
    .install {
        transform: scale(0.8);
        bottom: 3rem;
        left: 35rem;    
    }
    #deal-crispy {
        padding-top: 1.5rem;
        min-height: 56.5rem;
    }
    .deal-crispy-card {
        transform: scale(0.7);
        margin-bottom: -3.5rem;
    }
    .best-deal-content {
        transform: scale(0.8);
        top: 0.5rem;
        margin-left: 15.5rem;
    }
    footer {
        min-height: 75rem;
    }
    .footer-content {
        transform: scale(1.27);
        max-width: 31rem;
    }
    .footer-content h4 {
        padding-top: 11rem;
    }
    footer .footer-content .cities {
        column-gap: 7rem;
        flex-wrap: wrap;
    }
    .cities ul:nth-child(5) {
        margin-right: 14rem;
    }
    .company-information {
        flex-direction: column;
    }
    .footer-content .Company-Social-form h4 {
        padding-top: 2rem;
    }
    .footer-content .company-contact-legal h4 {
        padding-top: 2rem;
    }
 }
 @media (max-width: 968px){
    .brand-logo img {
        margin-left: 2rem;
    }
    .are-you-straving-content {
        margin-left: 4.6rem;
    }
    .straving-logo {
        left: 34.5rem;
    }
    .daily-discount-content {
        margin-left: -7.2rem;
    }
    .your-order img {
        left: 8.2rem;
    }
    .install {
        left: 33rem;
    }
    .best-deal-content {
        margin-left: 14rem;
    }
 }
 @media (max-width: 936px){
    .brand-logo img {
        margin-left: 1rem;
    }
    .are-you-straving-content {
        margin-left: 3.6rem;
    }
    .straving-logo {
        left: 33.5rem;
    }
    .daily-discount-content {
        margin-left: -8.4rem;
    }
    .your-order img {
        left: 7.2rem;
    }
    .install {
        left: 32rem;
    }
    .best-deal-content {
        margin-left: 13rem;
    }
 }
 @media (max-width: 920px){
    nav {
        transform: scale(1);
    }
    .brand-logo img {
        margin-left: 15rem;
    }
    .nav-items {
        margin-left: 27rem;
        display: flex;
        flex-wrap: wrap;
        margin-top: -1.6rem;
    }
    .nav-item-1 {
        order: 1;
        margin-left: -12rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .are-you-straving-content {
        margin-left: 3.1rem;
    }
    .popular-items-flex {
        margin-left: -15rem;
    }
    .daily-discount-content {
        margin-left: -8.9rem;
    }
    .your-order img {
        left: 6.5rem;
    }
    .install {
        left: 31.3rem;
    }
    .best-deal-content {
        margin-left: 12rem;
    }
 }
 @media (max-width: 870px){
    .are-you-straving-content {
        margin-left: 1.6rem;
    }
    .straving-logo {
        left: 31.5rem;
    }
    .daily-discount-content {
        margin-left: -10.5rem;
    }
    .your-order img {
        left: 5rem;
    }
    .install {
        left: 30.1rem;
    }
    .best-deal-content {
        margin-left: 10.5rem;
    }
 }
 @media (max-width: 820px){
    .brand-logo img {
        margin-left: 13.5rem;
    }
    .nav-items {
        margin-left: 25.5rem;
    }
    .are-you-straving-content {
        margin-left: 0.1rem;
    }
    .straving-logo {
        left: 30rem;
    }
    .daily-discount-content {
        margin-left: -12rem;
    }
    .your-order img {
        left: 3.6rem;
    }
    .install {
        left: 28.6rem;
    }
    .best-deal-content {
        margin-left: 9rem;
    }
 }
 @media (max-width: 770px){
    .brand-logo img {
        margin-left: 11.9rem;
    }
    .nav-items {
        margin-left: 23.8rem;
    }
    .are-you-straving-content {
        margin-left: -1.5rem;
    }
    .straving-logo {
        left: 28rem;
    }
    .daily-discount-content {
        margin-left: -13.7rem;
    }
    .your-order img {
        left: 1.8rem;
    }
    .install {
        left: 26.9rem;
    }
    .best-deal-content {
        margin-left: 7.5rem;
    }
 }
 @media (max-width: 720px){
    .nav-items {
        margin-left: 22rem;
    }
    .brand-logo img {
        margin-left: 10.1rem;
    }
    .are-you-straving-content {
        margin-left: -3.1rem;
    }
    .straving-logo {
        left: 27rem;
    }
    .daily-discount-content {
        margin-left: -15.2rem;
    }
    .your-order img {
        left: 0.2rem;
    }
    .install {
        left: 25.5rem;
    }
    .best-deal-content {
        margin-left: 6rem;
    }
 }
 @media (max-width: 670px){
    nav {
        transform: scale(0.8);
    }
    .nav-items {
        margin-left: 21rem;
    }
    .brand-logo img {
        margin-left: 9.1rem;
    }
    .are-you-straving {
        min-height: 12rem;
    }
    .are-you-straving-content {
        transform: scale(0.5);
        padding-top: 0rem;
        margin-left: 0rem;
    }
    .straving-logo {
        transform: scale(0.5);
        top: 0rem;
        left: 23rem;
    }
    #food-deal {
        min-height: 75rem;
    }
    .food-deal-grid {
        grid-template-columns: 1fr;
        transform: scale(1);
        padding-top: 3rem;
        row-gap: 2rem;
    }
    #how-does-it-work {
        min-height: 62rem;
    }
    #how-does-it-work h1 {
        padding-bottom: 7rem;
    }
    .how-does-it-work-grid {
        grid-template-columns: 1fr;
        transform: scale(1.185);
        row-gap: 1rem;
    }
    #popular-items {
        min-height: 112rem;
    }
    #popular-items h1 {
        padding-bottom: 12rem;
    }
    .popular-items-grid {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }
    #featured-resturants {
        min-height: 185rem;
    }
    .featured-resturants-grid {
        grid-template-columns: 1fr;
        transform: scale(1.1);
    }
    #featured-resturants .view-all {
        transform: scale(1);
    }
    #search-by-food {
        min-height: 48rem;
    }
    #search-by-food .search-view-all {
        transform: scale(0.8);
        max-width: 23rem;
        padding: 2rem 0 3rem 0;
    }
    .search-by-food-grid {
        grid-template-columns: 1fr 1fr;
        transform: scale(1);
        row-gap: 3rem;
        column-gap: 2rem;
        max-width: 19rem;
    }
    #install-the-app {
        min-height: 18rem;
    }
    .install-the-app-frame img {
        min-height: 16.3rem;
    }
    .daily-discount-content {
        transform: scale(0.4);
        margin-left: -16.2rem;
        margin-top: 0.5rem;
    }
    .your-order img {
        transform: scale(0.4);
        bottom: -12.5rem;
        left: 4.5rem;
    }
    .install {
        transform: scale(0.4);
        bottom: -2rem;
        left: 18.5rem;
    }
    #deal-crispy {
        padding-top: 0rem;
        min-height: 45rem;
    }
    .deal-crispy-card {
        transform: scale(0.5);
        margin-bottom: -8rem;
    }
    #best-deal {
        height: 10rem;
    }
    #best-deal img {
        min-height: 10rem;
    }
    .best-deal-content {
        transform: scale(0.5);
        margin-left: 4.5rem;
        top: -2rem;
    }
    footer {
        min-height: 53rem;
    }
    .footer-content {
        transform: scale(1);
        max-width: 18rem;
    }
    .footer-content h4 {
        padding-top: 3.5rem;
    }
    footer .footer-content .cities {
        padding-bottom: 1.5rem;
    }
    .cities ul:nth-child(4) {
        margin-right: 0.3rem;
    }
    .company-information {
        transform: scale(0.7);
        margin-left: -3rem;
        padding-bottom: 0rem;
        margin-top: -4.5rem;
        margin-bottom: -1.5rem;
    }
    .company-contact-legal {
        min-width: 25rem;
    }
    .copyright-themewagoon {
        transform: scale(0.6);
        margin-left: -6rem;
        min-width: 30rem;
    }
 }
 @media (max-width: 631px){
    .brand-logo img {
        margin-left: 7.5rem;
    }
    .nav-items {
        margin-left: 19.5rem;
    }
    .are-you-straving-content {
        margin-left: -2rem;
    }
    .straving-logo {
        left: 21rem;
    }
    .daily-discount-content {
        margin-left: -18.4rem;
    }
    .your-order img {
        left: 2.3rem;
    }
    .install {
        left: 16.2rem;
    }
    .deal-crispy-card {
        min-width: 42rem;
        margin-left: -0.5rem;
    }
    .best-deal-content {
        margin-left: 3rem;
    }
 }
 @media (max-width: 607px){
    .brand-logo img {
        margin-left: 6.1rem;
    }
    .nav-items {
        margin-left: 18rem;
    }
    .are-you-straving-content {
        margin-left: -3.5rem;
    }
    .straving-logo {
        left: 19.5rem;
    }
    .daily-discount-content {
        margin-left: -19.1rem;
    }
    .your-order img {
        left: 1.6rem;
    }
    .install {
        left: 15.5rem;
    }
    .deal-crispy-card {
        margin-left: -1.5rem;
    }
    .best-deal-content {
        margin-left: 2rem;
    }
 }
 @media (max-width: 583px){
    .brand-logo img {
        margin-left: 5.1rem;
    }
    .nav-items {
        margin-left: 17rem;
    }
    .are-you-straving-content {
        margin-left: -4.5rem;
    }
    .straving-logo {
        left: 18.5rem;
    }
    .daily-discount-content {
        margin-left: -20rem;
    }
    .your-order img {
        left: 0.7rem;
    }
    .install {
        left: 14.5rem;
    }
    .deal-crispy-card {
        margin-left: -2rem;
    }
    .best-deal-content {
        margin-left: 1.5rem;
    }
 }
 @media (max-width: 567px){
    .brand-logo img {
        margin-left: 4.1rem;
    }
    .nav-items {
        margin-left: 16rem;
    }
    .are-you-straving-content {
        margin-left: -5rem;
    }
    .daily-discount-content {
        margin-left: -20.3rem;
    }
    .your-order img {
        left: 0.5rem;
    }
    .install {
        left: 14.3rem;
    }
    .deal-crispy-card {
        margin-left: -2.6rem;
    }
    .best-deal-content {
        margin-left: 1rem;
    }
 }
 @media (max-width: 551px){
    .brand-logo img {
        margin-left: 3.1rem;
    }
    .nav-items {
        margin-left: 15rem;
    }
    .deal-crispy-card {
        margin-left: -3.3rem;
    }
    .best-deal-content {
        margin-left: 0.5rem;
    }
 }
 @media (max-width: 535px){
    nav {
        transform: scale(1);
    }
    .brand-logo img {
        transform: scale(0.8);
        margin-left: 5.1rem;
    }
    .nav-items {
        transform: scale(0.8);
        margin-left: 14rem;
    }
    .daily-discount-content {
        margin-left: -21.1rem;
    }
    .your-order img {
        left: -0.3rem;
    }
    .install {
        left: 13.6rem;
    }
    .deal-crispy-card {
        margin-left: -3.6rem;
    }
    .best-deal-content {
        margin-left: -0.1rem;
    }
 }
 @media (max-width: 519px){
    .brand-logo img {
        margin-left: 4rem;
    }
    .nav-items {
        margin-left: 13rem;
    }
    .are-you-straving-content {
        margin-left: -6rem;
    }
    .straving-logo {
        left: 17rem;
    }
    .daily-discount-content {
        margin-left: -21.7rem;
    }
    .your-order img {
        left: -0.9rem;
    }
    .install {
        left: 12.9rem;
    }
    .deal-crispy-card {
        margin-left: -4rem;
    }
    .best-deal-content {
        margin-left: -0.4rem;
    }
 }
 @media (max-width: 503px){
    .brand-logo img {
        margin-left: 3rem;
    }
    .nav-items {
        margin-left: 12rem;
    }
    .are-you-straving-content {
        margin-left: -7rem;
    }
    .straving-logo {
        left: 16rem;
    }
    .daily-discount-content {
        margin-left: -22rem;
    }
    .your-order img {
        left: -1.2rem;
    }
    .install {
        left: 12.6rem;
    }
    .deal-crispy-card {
        margin-left: -4.5rem;
    }
    .best-deal-content {
        margin-left: -1.2rem;
    }
 }
 @media (max-width: 487px){
    .nav-item-1 {
        margin-bottom: 0rem;
    }
    .brand-logo img {
        transform: scale(0.6);
        margin-left: 5.1rem;
    }
    .nav-items {
        margin-left: 11rem;
        transform: scale(0.6);
        margin-top: -2.2rem;
    }
    .are-you-straving {
        min-height: 7.4rem;
    }
    .are-you-straving-content {
        transform: scale(0.3);
        margin-top: -3rem;
        margin-left: -5rem;
    }
    .straving-logo {
        transform: scale(0.3);
        top: -3rem;
        left: 12rem;
    }
    .daily-discount-content {
        margin-left: -22.4rem;
    }
    .your-order img {
        left: -1.6rem;
    }
    .install {
        left: 12.2rem;
    }
    .deal-crispy-card {
        margin-left: -5.7rem;
    }
    .best-deal-content {
        margin-left: -1.5rem;
    }
 }
 @media (max-width: 471px){
    .brand-logo img {
        margin-left: 4.1rem;
    }
    .nav-items {
        margin-left: 10rem;
    }
    .are-you-straving-content {
        margin-left: -6rem;
    }
    .straving-logo {
        left: 11rem;
    }
    .daily-discount-content {
        margin-left: -22.9rem;
    }
    .your-order img {
        left: -2.1rem;
    }
    .install {
        left: 11.6rem;
    }
    .deal-crispy-card {
        margin-left: -6.2rem;
    }
    .best-deal-content {
        margin-left: -1.9rem;
    }
 }
 @media (max-width: 455px){
    .brand-logo img {
        margin-left: 3.1rem;
    }
    .nav-items {
        margin-left: 9rem;
    }
    .daily-discount-content {
        margin-left: -23.4rem;
    }
    .your-order img {
        left: -2.6rem;
    }
    .install {
        left: 10.9rem;
    }
    .deal-crispy-card {
        margin-left: -6.7rem;
    }
 }
 @media (max-width: 439px){
    .brand-logo img {
        transform: scale(0.5);
        margin-left: 3.5rem;
    }
    .nav-items {
        transform: scale(0.5);
        margin-left: 8rem;
    }
    .are-you-straving-content {
        margin-left: -7rem;
    }
    .daily-discount-content {
        margin-left: -23.9rem;
    }
    .your-order img {
        left: -3.1rem;
    }
    .install {
        left: 9.8rem;
    }
    .deal-crispy-card {
        margin-left: -7.2rem;
    }
    .best-deal-content {
        margin-left: -2.9rem;
    }
 }
 @media (max-width: 423px){
    .nav-items {
        margin-left: 7rem;
    }
    .brand-logo img {
        margin-left: 2.5rem;
    }
    .are-you-straving-content {
        margin-left: -7.5rem;
    }
    .straving-logo {
        left: 10rem;
    }
    .daily-discount-content {
        margin-left: -24.5rem;
    }
    .your-order img {
        left: -3.7rem;
    }
    #popular-items {
        min-height: 79rem;
    }
    #popular-items h1 {
        padding-bottom: 0rem;
    }
    .popular-items-flex {
        transform: scale(0.7);
        margin-left: -9.5rem;
        margin-top: -11rem;
        margin-bottom: -13rem;
    }
    .install {
        left: 8.8rem;
    }
    .deal-crispy-card {
        margin-left: -7.6rem;
    }
    .best-deal-content {
        margin-left: -3.5rem;
    }
 }
 @media (max-width: 407px){
    .brand-logo img {
        margin-left: 1.5rem;
    }
    .nav-items {
        margin-left: 6rem;
    }
    .daily-discount-content {
        margin-left: -25rem;
    }
    .your-order img {
        left: -4.3rem;
    }
    .install {
        left: 7.8rem;
    }
    .deal-crispy-card {
        margin-left: -8.1rem;
    }
    .best-deal-content {
        margin-left: -4.1rem;
    }
 }
 @media (max-width: 350px){
    .nav-items {
        margin-left: 7.2rem;
    }
    .are-you-straving-content {
        margin-left: -10rem;
    }
    .straving-logo {
        left: 7rem;
    }
    .search-by-food-grid {
        transform: scale(0.8);  
    }
 .daily-discount-content {
    transform: scale(0.3);
    }
    .deal-crispy-card {
        margin-left: -10.7rem;
    }
    .deal-crispy-card {
        transform: scale(0.4);
        margin-bottom: -10.5rem;
    }
    .best-deal-content {
        margin-left: -7.1rem;
    }
}
@media (max-width: 300px){
    .brand-logo img {
        margin-left: 0rem;
    }
    .nav-items {
        margin-left: 6.2rem;
    }
    .are-you-straving-content {
        margin-left: -11rem;
    }
    .straving-logo {
        left: 5rem;
    }
    .daily-discount-content {
        margin-left: -29rem;
    }
    .your-order img {
        left: -6.5rem;
    }
    .install {
        left: 5.1rem;
    }
    .deal-crispy-card {
        margin-left: -12.3rem;
    }
    .best-deal-content {
        margin-left: -9.1rem;
    }
    footer {
        min-height: 36rem;
    }
    .footer-content {
        transform: scale(0.7);
    }
    .footer-content h4 {
        padding-top: 0rem;
        margin-top: -4rem;
    }
}
